<%- include("partials/head", { title: "About" }) %>

<section class="about">
  <h1>About Us</h1>
  <p>Sahayata is an NGO focused on providing assistance to those in need. 
     From education to healthcare, our mission is to bring change.</p>
</section>

<section class="team">
  <h2>Our Team</h2>
  <p>Meet the dedicated people behind Sahayta who make it possible.</p>
  <div class="pics" >

    <div class="sec">
      <h2>Hardik Tyagi</h2>
      <h3>Founder</h3>
      <h3>AI/ML Engineer</h3>

      <ul> <p>Contacts: </p>
        <li><a href="https://www.linkedin.com/in/hardik-tyagi-8159b12b2"> Linkedin </a></li>
        <li><a href="https://www.instagram.com/hxrdik.27?igsh=Y3gxaWtrZzZkanZ5">Instagram</a></li>
        <li>+91 98211 11353</li>
        <li>Email: KcKabir123@gmail.com</li>
      </ul>

      <img src="/hardik.jpg" alt="Hardik" />
    </div>

    <div class="sec">
      <h2>Kabir Chauhan</h2>
      <h3>Core Team Member</h3>
      <h3>Web Developer</h3>
      <ul> <p>Contacts: </p>
        <li><a href="https://www.linkedin.com/in/kabir-chauhan-b09a0a375?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"> Linkedin </a></li>
        <li><a href="https://www.instagram.com/only.kabir_?igsh=MTcxY3VodnBuaWpsMA==">Instagram</a></li>
        <li>+91 9911368069</li>
        <li>Email: KcKabir123@gmail.com</li>
      </ul>      
      <img src="/Kabir.jpg" alt="Me" />
    </div>

    <div class="sec">
      <h2>Sahib Taj Singh</h2>
      <h3>Core Team Member</h3>
      <h3>App Developer</h3>

      <ul> <p>Contacts: </p>
        <li><a href="https://www.linkedin.com/in/sahib-taj-singh-123b37216?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app "> Linkedin </a></li>
        <li><a href="https://www.instagram.com/sahib__taj?igsh=N2J3Y3IyeWR5cTNl">Instagram</a></li>
        <li>+91 9818661601</li>
        <li>Email: sahibtajsingh1@gmail.com</li>
      </ul>

      <img src="/paaji.jpg" alt="Sahib" />
    </div>

    <div class="sec">
      <h2>Archit Yadav</h2>
      <h3>Core Team Member</h3>
      <h3>AI/ML Engineer</h3>

      <ul> <p>Contacts: </p>
        <li><a href="https://www.linkedin.com/in/ayd05?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app "> Linkedin </a></li>
        <li><a href="https://www.instagram.com/_archit.21?igsh=MWt5ZGh3cHl6ZWxiMw==">Instagram</a></li>
        <li>+91 8810244535</li>
        <li>Email: archit.yadav2005@gmail.com</li>
      </ul>

      <img src="/archit.jpg" alt="Archit" />
    </div> 

  </div>
</section>

<%- include("partials/footer") %>
